<a href="https://colab.research.google.com/github/YE1S0N/intro_python_202320/blob/main/topo3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# introduccion a python
## curso de programacion y algoritmia UPB 202320
- Nombre: Yeison De Leon
- ID: 000491649
- Email: yeison.deupb.edu.co

 esta es la expresion de la lineade la recta
 $$y: mx + b$$

 donde $x$ es la posicion

In [ ]:
# comentarios

name = 'yeison'
print("hello,",name)

hello, yeison

In [ ]:
# comentarios

firstname = 'Yeison'
lastname = 'De Leon,'
age = '18 años'
food = 'el arroz'

print("Mi nombre es",firstname,lastname,"tengo",age, "y me gusta",food)

Mi nombre es Yeison De Leon, tengo 18 años y me gusta el arroz

In [11]:
a = 3
b = 4.5
c = a + b
print(type(a))
print(type(b))
print(c)
c = c * a
print(c)
c = int(c / b)
print(c)
d = 0.3
c /=0.3
print(c)

<class 'int'>
<class 'float'>
7.5
22.5
5
16.666666666666668

In [20]:
m = 5
b = 2
x = -3
y = m*x + b
print(x,'/---/', y)

-3 /---/ -13

In [31]:
a = 0.1
b = -2
c = 0.5
x = 2
y = x**2 + 2*x - 8
print("x",y)
t = -3*x**2 -8
print("x",t)
disc = (b**2 - 4 * a * c) ** (1/2)
x_p = (-b + disc) / (2 * a)
x_n = (-b - disc) / (2 * a)
print('x_p', x_p)
print('x_n',x_n)
print('-' *10)

x 0
x -20
x_p 19.74679434480896
x_n 0.25320565519103666
----------

In [48]:
a = 3
b = 5
print(a == b)
print(a != b)
print( a > b)
print((a == b)  and (b + 3 > 5))
print(a < b  or b + 3 > 5)
print(not (a == b))

False
True
False
False
True
True